.gameboard {
    position: absolute;
    width: 760px;
    height: 960px;
    border: 2px solid black;
    margin-left: 30px;
}

.tile {
    width: 38px;
    height: 38px;
    float: left;
    background-size: 100% 100%;
    border: 1px solid black;
}

.tile.nothing {background-color: #FFFFFF;}
.tile.normal {background-color: #FFFF99;}
.tile.place {background-color: #FF8888;}
.tile.ques {background-image: url("images/tile/ques.png");}
.tile.star {background-image: url("images/tile/star.png");}
.tile.money {background-image: url("images/tile/money.png");}

.place_text{
    white-space: nowrap;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #FF4444;
}




button{
    position: absolute;
    width: 120px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}
.rule{
    background-color: #4CAF50;
    margin-left: 900px;
    margin-top: 30px;
}
.restart{
    background-color: #CC4433;
    margin-left: 1050px;
    margin-top: 30px;
}
.roll{
    background-color: #ACAF50;
    margin-left: 870px;
    margin-top: 420px;
    width: 300px;
}

.big_dice {
    background-image: url("images/list/dice.png");
    position: absolute;
    margin-left: 870px;
    margin-top: 100px;
    width: 300px;
    height: 300px;
    background-size: 100% 100%;
}

.card {
    background-color: #CCCCCC;
    position: absolute;
    margin-left: 870px;
    margin-top: 500px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 30px;
}



.player_data {
    position: absolute;
    width: 1200px;
    height: 700px;
    margin-left: 0px;
    margin-top: 1000px;
}

.player_status {
    width: 500px;
    height: 250px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    float: left;
}


.icons {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}
.icons.money {background-image: url("images/list/money.png");}
.icons.shield {background-image: url("images/list/shield.png");}
.icons.dice {background-image: url("images/list/dice.png");}
.icons.buff {background-image: url("images/list/buff.png");}

